<!DOCTYPE html>
<html>
<body>
<h4 id='output'>Ola</h4>
<form method="POST" id="formulario">{% csrf_token %}
    <p><label for="id_rfid">Rfid:</label> <input id="id_rfid" name="rfid" type="text" /></p>
    <p><label for="id_comando">Comando:</label> <input id="id_comando" name="comando" type="text" /></p>
    <input type="submit">
</form>
<script>
    var comandos = {
        {%block comandos%}
        ajuda: function () {
            t2p('HELP!!');
        },
        {%endblock%}
    }
</script>
<script>
    document.getElementById('formulario').addEventListener('submit', function(e) {
        e.preventDefault();
        var input = document.getElementById('id_comando').value;
        var rfid = document.getElementById('id_rfid').value;
        if (rfid){
            comandos['RFID']();
        }
        input = input.split(' ');
        var comandoNome = input[0];
        if (comandos[comandoNome]) comandos[comandoNome]();
        else comandos.padrao();
    });

    function t2p (saida) {
        document.getElementById('output').innerHTML = saida;
    }
    comandos.init();
</script>
</body>
</html>
