<!DOCTYPE html>
<html>
<link href="/static/loginbox.css" rel="stylesheet" type="text/css" />
<body background="/static/wardrobe.jpg" style="background-repeat: no-repeat;">
<div style="padding: 130px 0 0 100px;">
<div id="login-box">
<div style="height:120px">
<h4 id='output'>Bem-vindo ao SmartCloset.</h4>
</div>
<br />
<br />
<form method="POST" id="formulario">{% csrf_token %}
    <div align="right">
    <p><label id="tid_rfid" for="id_rfid" style="margin-top:20px;">Rfid:</label> <input id="id_rfid" name="rfid" type="text" style="margin-top:20px;" size="35" maxlength="2048" /></p>
    <p><label id="tid_comando" for="id_comando">Comando:</label> <input id="id_comando" name="comando" type="text" size="35" maxlength="2048" /></p>
    <input type="submit">
    </div>
</form>
</div>
</div>
<script>
    var comandos = {
        {%block comandos%}
        ajuda: function () {
            t2p('HELP!!');
        },
        {%endblock%}
    }
</script>
<script>
    document.getElementById('formulario').addEventListener('submit', function(e) {
        e.preventDefault();
        var input = document.getElementById('id_comando').value;
        var rfid = document.getElementById('id_rfid').value;
        if (rfid){
            comandos['RFID']();
        }
        input = input.split(' ');
        var comandoNome = input[0];
        if (comandos[comandoNome]) comandos[comandoNome]();
        else comandos.padrao();
    });

    function t2p (saida) {
        document.getElementById('output').innerHTML = saida;
    }
    comandos.init();
    document.getElementById('id_comando').focus();
</script>
</body>
</html>
