{% extends "base.html" %}
{%block comandos%}
    init: function () {
        t2p('{{saida}}'+ '<br>Deseja incluir ou excluir ou roupa? <br> - Para incluir, "incluir [nome] [tipo] [cor]"; <br> - Para excluir, "excluir [nome];"<br> - Para voltar ao menu, "finalizar"');
    },
    incluir: function () {
        document.getElementById('formulario').submit();
    },
    excluir: function () {
        document.getElementById('formulario').submit();
    },
    ajuda: function () {
        t2p('HELP!!');
    },
    padrao:function () {
        t2p('Commando inválido!');
    },
    voltar:function () {
        window.location='/configurar';
    },
    finalizar:function () {
        window.location='/';
    },
{%endblock%}
