{% extends "base.html" %}
{%block comandos%}
    init: function () {
        t2p('mala, avaliar, guardar, vestir, configurar, ajuda');
    },
    configurar: function () {
        window.location = "/configurar";
    },
    ajuda: function () {
        t2p('HELP!!');
    },
    mala: function(){
    	window.location = "/mala";
	},
	avaliar: function(){
    	window.location = "/avaliar";
	},
	guardar: function(){
    	window.location = "/guardar";
	},
	vestir: function(){
    	window.location = "/vestir";
	},
    padrao:function () {
        t2p('Commando inválido!');
    },
    voltar:function () {
        window.location='/';
    },

{%endblock%}
